:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;

  --bg-mono: #fff;
  --text-mono: #000;

  --color-background: var(--vt-c-white);
  --color-text: #000;

  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: #fff;
    --bg-mono: #000;
    --text-mono: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100svh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Readex Pro',
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
