@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--primary);
    color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  a:hover {
    background-color: var(--primary);
    color: #000;
  }
}
@media (max-width: 640px) {
  #app {
    padding: 20px 20px 80px 20px;
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
